.page-container {
  padding: 40px 20px;
  background-color: #f8fafc;
  min-height: 100vh;
}

.form-card {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 20px;
}

.header {
  margin-bottom: 24px;
  padding-left: 10px;
}

.header mat-card-title {
  color: var(--mat-sys-primary);
  font-weight: 600;
  font-size: 24px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 16px;
  padding: 10px;
}

.full-width {
  grid-column: span 2; /* Ocupa toda la fila */
}

.actions {
  padding: 20px 10px;
  gap: 12px;
}

/* Ajuste de iconos */
mat-icon {
  margin-right: 8px;
  color: var(--mat-sys-secondary);
}
